<<<<<<< HEAD
body { 
    background:blue; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid white;
}
h1 {
    font-size: 60px;
    border:1px solid white;
}
div {
    border: 4px;px transparent green;
    padding:60px;
}
=======

>>>>>>> dca16d6192a16b70547aada2e30226f139fd5951
